<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participant">
            <h2><span jhiTranslate="cwcrmApp.participant.detail.title">Participant</span> {{participant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cwcrmApp.participant.firstName">First Name</span></dt>
                <dd>
                    <span>{{participant.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.lastName">Last Name</span></dt>
                <dd>
                    <span>{{participant.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.registrationDate">Registration Date</span></dt>
                <dd>
                    <span>{{participant.registrationDate}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.address1">Address 1</span></dt>
                <dd>
                    <span>{{participant.address1}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.address2">Address 2</span></dt>
                <dd>
                    <span>{{participant.address2}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.city">City</span></dt>
                <dd>
                    <span>{{participant.city}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.state">State</span></dt>
                <dd>
                    <span>{{participant.state}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.country">Country</span></dt>
                <dd>
                    <span>{{participant.country}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.dob">Dob</span></dt>
                <dd>
                    <span>{{participant.dob}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.phone">Phone</span></dt>
                <dd>
                    <span>{{participant.phone}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.email">Email</span></dt>
                <dd>
                    <span>{{participant.email}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.zip">Zip</span></dt>
                <dd>
                    <span>{{participant.zip}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.manNumber">Man Number</span></dt>
                <dd>
                    <span>{{participant.manNumber}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.deceased">Deceased</span></dt>
                <dd>
                    <span>{{participant.deceased}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.created">Created</span></dt>
                <dd>
                    <span>{{participant.created}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.updated">Updated</span></dt>
                <dd>
                    <span>{{participant.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.isActive">Is Active</span></dt>
                <dd>
                    <span>{{participant.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.altContactInfo">Alt Contact Info</span></dt>
                <dd>
                    <span>{{participant.altContactInfo}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.contactStatus">Contact Status</span></dt>
                <dd>
                    <div *ngIf="participant.contactStatusId">
                        <a [routerLink]="['/contact-status', participant.contactStatusId, 'view']">{{participant.contactStatusId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.contactSubStatus">Contact Sub Status</span></dt>
                <dd>
                    <div *ngIf="participant.contactSubStatusId">
                        <a [routerLink]="['/contact-sub-status', participant.contactSubStatusId, 'view']">{{participant.contactSubStatusName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.waiver">Waiver</span></dt>
                <dd>
                    <div *ngIf="participant.waiverId">
                        <a [routerLink]="['/waiver', participant.waiverId, 'view']">{{participant.waiverName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.mco">Mco</span></dt>
                <dd>
                    <div *ngIf="participant.mcoId">
                        <a [routerLink]="['/mco', participant.mcoId, 'view']">{{participant.mcoName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.supportCoordinator">Support Coordinator</span></dt>
                <dd>
                    <div *ngIf="participant.supportCoordinatorId">
                        <a [routerLink]="['/support-coordinator', participant.supportCoordinatorId, 'view']">{{participant.supportCoordinatorFirstName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.primaryPhysician">Primary Physician</span></dt>
                <dd>
                    <div *ngIf="participant.primaryPhysicianId">
                        <a [routerLink]="['/physician', participant.primaryPhysicianId, 'view']">{{participant.primaryPhysicianFirstName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participant', participant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
