<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participant">
            <h2><span jhiTranslate="cwcrmApp.participant.detail.title">Participant</span> {{participant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cwcrmApp.participant.firstName">First Name</span></dt>
                <dd>
                    <span>{{participant.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.middleInitial">Middle Initial</span></dt>
                <dd>
                    <span>{{participant.middleInitial}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.lastName">Last Name</span></dt>
                <dd>
                    <span>{{participant.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.title">Title</span></dt>
                <dd>
                    <span>{{participant.title}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.registrationDate">Registration Date</span></dt>
                <dd>
                    <span>{{participant.registrationDate}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.address">Address</span></dt>
                <dd>
                    <span>{{participant.address}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.city">City</span></dt>
                <dd>
                    <span>{{participant.city}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.state">State</span></dt>
                <dd>
                    <span>{{participant.state}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.country">Country</span></dt>
                <dd>
                    <span>{{participant.country}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.dob">Dob</span></dt>
                <dd>
                    <span>{{participant.dob}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.primaryPhone">Primary Phone</span></dt>
                <dd>
                    <span>{{participant.primaryPhone}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.primaryPhoneType">Primary Phone Type</span></dt>
                <dd>
                    <span>{{participant.primaryPhoneType}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.secondaryPhone">Secondary Phone</span></dt>
                <dd>
                    <span>{{participant.secondaryPhone}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.secondaryPhoneType">Secondary Phone Type</span></dt>
                <dd>
                    <span>{{participant.secondaryPhoneType}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.email">Email</span></dt>
                <dd>
                    <span>{{participant.email}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.zip">Zip</span></dt>
                <dd>
                    <span>{{participant.zip}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.medicareIdNumber">Medicare Id Number</span></dt>
                <dd>
                    <span>{{participant.medicareIdNumber}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.medicaidIdNumber">Medicaid Id Number</span></dt>
                <dd>
                    <span>{{participant.medicaidIdNumber}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.gender">Gender</span></dt>
                <dd>
                    <span>{{participant.gender}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.contactStatus">Contact Status</span></dt>
                <dd>
                    <div *ngIf="participant.contactStatusId">
                        <a [routerLink]="['/contact-status', participant.contactStatusId, 'view']">{{participant.contactStatusId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.contactSubStatus">Contact Sub Status</span></dt>
                <dd>
                    <div *ngIf="participant.contactSubStatusId">
                        <a [routerLink]="['/contact-sub-status', participant.contactSubStatusId, 'view']">{{participant.contactSubStatusName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.mco">Mco</span></dt>
                <dd>
                    <div *ngIf="participant.mcoId">
                        <a [routerLink]="['/mco', participant.mcoId, 'view']">{{participant.mcoName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.referralType">Referral Type</span></dt>
                <dd>
                    <div *ngIf="participant.referralTypeId">
                        <a [routerLink]="['/referral-type', participant.referralTypeId, 'view']">{{participant.referralTypeName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.referralSource">Referral Source</span></dt>
                <dd>
                    <div *ngIf="participant.referralSourceId">
                        <a [routerLink]="['/referral-source', participant.referralSourceId, 'view']">{{participant.referralSourceName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.participant.assignedTo">Assigned To</span></dt>
                <dd>
                    {{participant.assignedToId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participant', participant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
