<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-participant-heading" jhiTranslate="cwcrmApp.participant.home.createOrEditLabel">Create or edit a Participant</h2>
            <mat-tab label="Demographics">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!participant.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="participant.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="participant.firstName" required/>
                    <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="participant.lastName" required/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.registrationDate" for="field_registrationDate">Registration Date</label>
                    <div class="input-group">
                        <input id="field_registrationDate" type="text" class="form-control" name="registrationDate" ngbDatepicker  #registrationDateDp="ngbDatepicker" [(ngModel)]="participant.registrationDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="registrationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.address1" for="field_address1">Address 1</label>
                    <input type="text" class="form-control" name="address1" id="field_address1"
                        [(ngModel)]="participant.address1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.address2" for="field_address2">Address 2</label>
                    <input type="text" class="form-control" name="address2" id="field_address2"
                        [(ngModel)]="participant.address2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="participant.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                        [(ngModel)]="participant.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="participant.country" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.dob" for="field_dob">Dob</label>
                    <input type="text" class="form-control" name="dob" id="field_dob"
                        [(ngModel)]="participant.dob" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="participant.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="participant.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.zip" for="field_zip">Zip</label>
                    <input type="text" class="form-control" name="zip" id="field_zip"
                        [(ngModel)]="participant.zip" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.mANNumber" for="field_mANNumber">M AN Number</label>
                    <input type="number" class="form-control" name="mANNumber" id="field_mANNumber"
                        [(ngModel)]="participant.mANNumber" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.contactStatus" for="field_contactStatus">Contact Status</label>
                    <select class="form-control" id="field_contactStatus" name="contactStatus" [(ngModel)]="participant.contactStatusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactStatusOption.id" *ngFor="let contactStatusOption of contactstatuses; trackBy: trackContactStatusById">{{contactStatusOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.contactSubStatus" for="field_contactSubStatus">Contact Sub Status</label>
                    <select class="form-control" id="field_contactSubStatus" name="contactSubStatus" [(ngModel)]="participant.contactSubStatusId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contactSubStatusOption.id" *ngFor="let contactSubStatusOption of contactsubstatuses; trackBy: trackContactSubStatusById">{{contactSubStatusOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.waiver" for="field_waiver">Waiver</label>
                    <select class="form-control" id="field_waiver" name="waiver" [(ngModel)]="participant.waiverId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="waiverOption.id" *ngFor="let waiverOption of waivers; trackBy: trackWaiverById">{{waiverOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cwcrmApp.participant.supportCoordinator" for="field_supportCoordinator">Support Coordinator</label>
                    <select class="form-control" id="field_supportCoordinator" name="supportCoordinator" [(ngModel)]="participant.supportCoordinatorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            </mat-tab>
            <mat-tab label="Primary Physician">
                PP Goes here (lol)
            </mat-tab>
            <mat-tab label="Contact History">
                <jhi-contact-history></jhi-contact-history>
            </mat-tab>
            <mat-tab label="Documents">
                Documents goes here!
            </mat-tab>
            <mat-tab label="Transportation">
                Transportation goes here!
            </mat-tab>
             <mat-tab label="Notes">
                <jhi-participant-notes-detail></jhi-participant-notes-detail>
            </mat-tab>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
