<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="referral">
            <h2><span jhiTranslate="cwcrmApp.referral.detail.title">Referral</span> {{referral.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cwcrmApp.referral.name">Name</span></dt>
                <dd>
                    <span>{{referral.name}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.referral.participant">Participant</span></dt>
                <dd>
                    <div *ngIf="referral.participantId">
                        <a [routerLink]="['/participant', referral.participantId, 'view']">{{referral.participantId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/referral', referral.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
