<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="physician">
            <h2><span jhiTranslate="cwcrmApp.physician.detail.title">Physician</span> {{physician.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cwcrmApp.physician.firstName">First Name</span></dt>
                <dd>
                    <span>{{physician.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.physician.lastName">Last Name</span></dt>
                <dd>
                    <span>{{physician.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.physician.phone">Phone</span></dt>
                <dd>
                    <span>{{physician.phone}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.physician.fax">Fax</span></dt>
                <dd>
                    <span>{{physician.fax}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.physician.address">Address</span></dt>
                <dd>
                    <span>{{physician.address}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.physician.notes">Notes</span></dt>
                <dd>
                    <span>{{physician.notes}}</span>
                </dd>
                <dt><span jhiTranslate="cwcrmApp.physician.disability">Disability</span></dt>
                <dd>
                    <span>{{physician.disability}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/physician', physician.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
